.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    color: var(--white);
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-content p {
    font-size: 1.25rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary-custom {
    background-color: var(--primary-color);
    border: none;
    color: var(--white);
    padding: 12px 30px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.hero-section .btn-primary-custom {
    margin-top: 80px;
    padding: 20px 30px;
}

.btn-primary-custom:hover {
    background-color: var(--accent-color);
    color: var(--white);
}