.services-section {
    background-color: var(--light-bg);
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section-title p {
    color: var(--text-secondary);
    max-width: 600px;
    margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 20px;
    background-size: 50% 50%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    opacity: 1;
}

.carousel-inner {
    padding: 20px 60px;
}


.service-card {
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;
    text-align: center;
    height: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-icon {
    font-size: 3.5rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.differential-title {
    color: var(--primary-color);
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-bottom: 60px;
}

.differential-item {
    background: var(--white);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(78, 68, 68, 0.05);
    height: 100%;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.differential-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.differential-item h5 {
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 0;
    color: var(--text-dark);
}

/* Mobile Adjustments */
@media (max-width: 768px) {
    .carousel-inner {
        padding: 20px 40px;
    }
}