@import 'global.css';
@import 'navbar.css';
@import 'hero.css';
@import 'services.css';
@import 'about.css';
@import 'space.css';
@import 'appointment.css';
@import 'location.css';
@import 'footer.css';